<!DOCTYPE html>
<html lang="en">
  {% include 'head.liquid' %}
  <body class="layout-fullwidth">
    <div class="container paper main-content">
      {% include "nav.liquid" %}
      <main>
        {% renderbody %}
      </main>
  </div>
  <script src="/js/prism_default.js"></script>
  </body>
</html>